@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/fondodelmain.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*HEADER*/
.header{
    height: rem;
    top: 0;
}
.header__nav__a__logo{
    width: 150px;
    border-radius: 50%;
}
.header__nav__ul{
    font-size: 2rem;
    padding: 3rem;
    font-weight: bold;
}
.header__nav__ul li{
    margin: 0.5rem;
}

.body__divGrid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% auto 15%;
}
/*MAIN*/
.mainVh{
    display: flex;
}
.main__introduccion{
    background-color: #0e0d0d3b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(1px);
    padding: 50px;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: white;
}
.main__centrar{
    text-align: center;
    width: 100%;
}
.main__centrar__tituloPrincipal{
    font-size: 4rem;
    text-decoration: underline;
    margin-block-end: revert;
    margin-block-start: revert;
    color: rgb(255, 255, 255);
}
/*Acá empieza la configuración de las imágenes de mi pàgina de inicio*/ 
.sectionCards{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.sectionCards .titulo{
    font-size: 4rem;
    margin-top: 20px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.sectionCards__card1{
    width: 30%;
    display: inline-block;
    box-shadow: 16px 14px 31px 20px rgba(0,0,0,0.74);
    -webkit-box-shadow: 16px 14px 31px 20px rgba(0,0,0,0.74);
    -moz-box-shadow: 16px 14px 31px 20px rgba(0,0,0,0.74);
    background-color: rgba(255, 255, 255, 0.877);
    margin-top: 15px;
    margin-bottom: 50px;
    margin: 10px;
}
.sectionCards__card1 img{
    width: 100%;
    height: 55vh;
    object-fit: cover;

}
/*Hasta acá llega mi configuración de las imàgenes de mi página de inicio*/
.main_divTitulo{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.main__divParrafo{
    background-color: #0e0d0d3b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(1px);
    padding: 50px;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: white;
}
.main__divCentrar{
    text-align: center;
    text-decoration: underline;
    font-size: 1.8rem;
    padding: 2rem;
    color: white;
}
.main__divContenedor{
    display: flex;
    flex-direction: row;
}
.main__divContenedor__h2{
    margin-left: 6rem;
    font-size: 2rem;
    text-decoration: underline;
    color: white;
    white-space: nowrap;
}
.main__divContenedor__iframe{
    margin-top: 2rem;
    margin-left: 9rem;
    margin-bottom: 3rem;
    border: 2px solid white;
}
.main__div__h2Argentina{
    text-decoration: underline;
    margin-left: 33rem;
    font-size: 3rem;
    color: white;
}
.main__div__listaOrdenada{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 2.6rem;
    list-style-type: none;
    justify-content: end;   
    margin-left: 22rem;
    color: white;
}
.main__div__h1{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.main__div__h1 h1{
    font-size: 3rem;
}
.card-group{
    margin-bottom: 2rem;
}
.card-text{
    text-align: center;
}
.main__div__h2{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.main__div__h2 h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.contenedorCarrusel{
    background-color:rgb(255, 255, 255);
    display: flex;
    width: 50%;
    height: 60%;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.main__divCentrar__h2{
    display: flex;
    font-size: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-decoration: underline;
    margin: 1px;
    margin-left: 39px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}
.imagen{
    border: 2px solid black;
    text-align: center;
    background-color: white;
    justify-content: center;
}
.imagen img{
    width: 580px;
    height: 580px;
    padding: 1rem;
}
.main__divTexto{
    color: white;
    display: inline-block;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    font-size: 2rem;
}
.main__divTexto__span{
    font-weight: 700;
}
.main__divModelos h2{
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin-top: 2rem;
}

.main__divContenedorModelos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    color: white;
    margin-bottom: 2rem;
}
.main__divContenedorModelos h4{
    color: black;
}
.main__divContenedorModelosCard4{
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.877);
}
.main__divContenedorModelosCard4 img{
    width: 35rem;
    height: 35rem;
    object-fit: cover;
}
.main__divContenedorModelosCard5{
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.877);
    
}
.main__divContenedorModelosCard5 img{
    width: 35rem;
    height: 35rem;
    object-fit: cover;
}
.main__divContenedorModelosCard6{

    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.877);
}
.main__divContenedorModelosCard6 img{
    width: 35rem;
    height: 35rem;
    object-fit: cover;
}
.ubicacionImagen{
    border-top: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
}
.ubicacionImagen img {
    margin-right: 18rem;
    margin-left: 22rem;
    border: 1rem solid rgba(150, 7, 7, 0.356);
    width: 18rem;
    height: 18rem;
}
.main__form{
    width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
    color: white;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px; /* altura personalizada */
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/*FOOTER*/
.colorFooter{

    height: auto;
    text-align: center;
}
.footer__icono{
    text-decoration: none;
}
.mail{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.fa-brands{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    padding: 1.5rem;
}
.iframe{
    margin-left: 10rem;
}
@media screen and (min-width:0px) and (max-width:768px){
    .header__navegacion{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }
    .navbar-toggler{
        margin-left: 2rem;
    }
    .navbar-toggler-icon {
        color: rgb(255, 255, 255);
    }
    .main__introduccion{
        font-size: 18px;
    }
    .main__centrar__tituloPrincipal{
        font-size: 30px;
        text-align: center;
    }
    .sectionCards__card1{

        width: 400px;
        height: 400px;
    }
    .sectionCards__card1 img{
        width: 350px;
        height: 350px;
    }

    .main_divTitulo{
        font-size: 25px;
    }
    .main__divParrafo{
        font-size: 22px;
    }
    .main__divCentrar{
        font-size: 20px;
    }
    .main__divContenedor__h2{
        font-size: 20px;
        justify-content: center;
        margin-left: 1.4rem;
    }
    .main__div__h2Argentina{
        font-size: 20px;
        margin-left: 8rem;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .main__divContenedor{
    flex-direction: column;
    flex-wrap: wrap;
    }
    .main__divContenedor__iframe{
        width: 400px;
        height: 400px;
        margin-left: 3rem;
    }
    .main__div__listaOrdenada{
        justify-content: center;
        font-size: 1.5rem;
        margin-left: 1.5rem;
        margin-bottom: 2rem;  
    }
    .main__div__h1 h1{
        font-size: 2rem;
    }
    .main__div__h2 h2{
        font-size: 1rem;
    }
    .contenedorCarrusel{
        width: 90%;
    }
    .main__divTexto{
        font-size: 1rem;
    }
    .main__divModelos h2{
        font-size: 2rem;
    }
    .main__divContenedorModelosCard4 img{
        width: 24rem;
        height: 24rem;
    }
    .main__divContenedorModelosCard5 img {
        width: 24rem;
        height: 24rem;
    }
    .main__divContenedorModelosCard6 img{
        width: 24rem;
        height: 24rem;
    }
    .main__form{
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input[type="text"], input[type="email"], textarea {
        width: 84%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    textarea {
        width: 84%;
        padding: 0px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 150px;
    }
}