@import"variables";
.header {
    height: 6rem;
    top: 0;
    &__nav__a__logo {
        width: 150px;
        border-radius: 50%;
    }

    &__nav__ul {
        font-size: 2rem;
        padding: 3rem;
        font-weight: bold;
    
        & li {
            margin: 0.5rem;
        }
        }
}
.navbar-toggler {
    @include mobile-mediaqueries{
        margin-left: 2rem;
    }
    &-icon{
        @include mobile-mediaqueries{
            color: $main-color
        }
    }
}

