@use"body";
@use"header";
@use"main";
@use"footer";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

